
.tittle{
    background-color: rgb(60, 105, 105);
    width: 400px;
    margin: 20px auto;
    border-radius: 5px;
    
    
}
.laptop{
    background-color: rgb(49, 99, 86);
   margin:20px 30px;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 10px 30px 50px black;

}
button{
    background-color: rgb(197, 216, 213);
    padding:1px 20px;
    font-size: 1.4rem;
    border-radius: 5px;
    outline: none;
    border:2px solid rgb(20, 14, 14);
    
}

button:hover{
    background-color: chartreuse;
}